<div class="container">
  <div class="row pt-3">
    <div class="col-sm-12">
      <h2 class="text-center mb-4">Translator using Google API</h2>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-6">
      <form #translator="ngForm" (ngSubmit)="send()">
        <mat-form-field>
          <input type="text" name="key" matInput placeholder="Google API Key" required minlength="10" [(ngModel)]="key">
        </mat-form-field>

        <mat-label>From:</mat-label>
        <mat-form-field>
          <mat-select [(value)]="googleObj.source">
            <mat-option value="en">English</mat-option>
            <mat-option value="es">Spanish</mat-option>
            <mat-option value="ro">Romanian</mat-option>
            <mat-option value="de">German</mat-option>
          </mat-select>
        </mat-form-field>

          <mat-label>To:</mat-label>
          <mat-form-field>
            <mat-select [(value)]="googleObj.target">
              <mat-option value="en">English</mat-option>
              <mat-option value="es">Spanish</mat-option>
              <mat-option value="ro">Romanian</mat-option>
              <mat-option value="de">German</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field>
          <textarea name="spanish" placeholder="Text to translate" matInput minlength="5" rows="10" required [(ngModel)]="googleObj.q"></textarea>
        </mat-form-field>
        <div class="d-flex justify-content-between">
          <button type="button" mat-raised-button color="accent" (click)="googleObj.q = ''; result = ''">Erase</button>
          <button type="submit" id="btnSubmit" mat-raised-button color="primary" [disabled]="!translator.valid">Translate</button>
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <label for="english" class="font-weight-bold">Result:</label>
      <p>{{result}}</p>
    </div>
  </div>
</div>

<br>
<br>
<div class="container">

  <h1>Google Map Get Current Location</h1>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
  </agm-map>

  <h5>Address: {{address}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>

</div>

<br>
<br>
<div class="container">

  <h1>Youtube channel search</h1>
  <label for="channelName">Channel Name:</label>
  <input type="text" placeholder="Youtube Channel..." required id="channelName" #channelName>
  <br><br>
  <button class="btn btn-primary" (click)="getChannels(channelName.value)">Get channels</button>

  <ul *ngFor="let channel of channels">
    <a target="_blank" href="https://www.youtube.com/channel/{{channel.id.channelId}}">
      <img class="img-thumbnail" width="200" height="200" src="{{channel.snippet.thumbnails.medium.url}}"/>
    </a>
    {{channel.snippet.channelTitle}}
  </ul>


</div>
